.navbar {
    height: 6vh;
    position: fixed;
    top: 0;
    background-color: rgb(32, 32, 32);
    width: 100%;
    color: white;
    display: inline-flex;
    align-items: center;
}

.navitem {
    height: 100%;
    padding: 1%;
    text-align: center;
}

.socialitem {
    margin-right: 0;
    margin-left: auto;
}