.project {
  transition: box-shadow 0.2s ease-in-out;
}
.project:hover {
  box-shadow: 0px 0px 16px 16px #ffefef;
  transition: box-shadow 0.2s ease-in-out;
}

.ghub-link:hover {
  text-decoration: none !important;
}
