@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9779 0.0042 56.3756);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(0.9779 0.0042 56.3756);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(0.9779 0.0042 56.3756);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.4672 0.1451 25.6340);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9645 0.0394 91.1979);
  --secondary-foreground: oklch(0.4888 0.1022 77.0857);
  --muted: oklch(0.9431 0.0068 53.4442);
  --muted-foreground: oklch(0.4444 0.0096 73.6390);
  --accent: oklch(0.9639 0.0590 96.9221);
  --accent-foreground: oklch(0.3979 0.1312 26.4293);
  --destructive: oklch(0.4452 0.1599 27.3333);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9375 0.0331 83.7111);
  --input: oklch(0.9375 0.0331 83.7111);
  --ring: oklch(0.4672 0.1451 25.6340);
  --chart-1: oklch(0.5073 0.1888 27.9632);
  --chart-2: oklch(0.4672 0.1451 25.6340);
  --chart-3: oklch(0.3979 0.1312 26.4293);
  --chart-4: oklch(0.5600 0.1433 50.6670);
  --chart-5: oklch(0.4763 0.1231 47.5144);
  --sidebar: oklch(0.9431 0.0068 53.4442);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.4672 0.1451 25.6340);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9639 0.0590 96.9221);
  --sidebar-accent-foreground: oklch(0.3979 0.1312 26.4293);
  --sidebar-border: oklch(0.9375 0.0331 83.7111);
  --sidebar-ring: oklch(0.4672 0.1451 25.6340);
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.15rem;
  --shadow-2xs: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.07);
  --shadow-xs: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.07);
  --shadow-sm: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.13), 1px 1px 2px -3px hsl(1.0345 63.0435% 18.0392% / 0.13);
  --shadow: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.13), 1px 1px 2px -3px hsl(1.0345 63.0435% 18.0392% / 0.13);
  --shadow-md: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.13), 1px 2px 4px -3px hsl(1.0345 63.0435% 18.0392% / 0.13);
  --shadow-lg: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.13), 1px 4px 6px -3px hsl(1.0345 63.0435% 18.0392% / 0.13);
  --shadow-xl: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.13), 1px 8px 10px -3px hsl(1.0345 63.0435% 18.0392% / 0.13);
  --shadow-2xl: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.33);
  --tracking-normal: 0.05em;
}

.dark {
  --background: oklch(0.2161 0.0061 56.0434);
  --foreground: oklch(0.9699 0.0013 106.4238);
  --card: oklch(0.2685 0.0063 34.2976);
  --card-foreground: oklch(0.9699 0.0013 106.4238);
  --popover: oklch(0.2685 0.0063 34.2976);
  --popover-foreground: oklch(0.9699 0.0013 106.4238);
  --primary: oklch(0.5073 0.1888 27.9632);
  --primary-foreground: oklch(0.9779 0.0042 56.3756);
  --secondary: oklch(0.4763 0.1231 47.5144);
  --secondary-foreground: oklch(0.9639 0.0590 96.9221);
  --muted: oklch(0.2685 0.0063 34.2976);
  --muted-foreground: oklch(0.8687 0.0043 56.3660);
  --accent: oklch(0.5600 0.1433 50.6670);
  --accent-foreground: oklch(0.9639 0.0590 96.9221);
  --destructive: oklch(0.6397 0.2053 25.9725);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3741 0.0087 67.5582);
  --input: oklch(0.3741 0.0087 67.5582);
  --ring: oklch(0.5073 0.1888 27.9632);
  --chart-1: oklch(0.7134 0.1639 22.9712);
  --chart-2: oklch(0.6397 0.2053 25.9725);
  --chart-3: oklch(0.5790 0.2134 27.7291);
  --chart-4: oklch(0.8445 0.1657 86.5249);
  --chart-5: oklch(0.7757 0.1642 72.2601);
  --sidebar: oklch(0.2161 0.0061 56.0434);
  --sidebar-foreground: oklch(0.9699 0.0013 106.4238);
  --sidebar-primary: oklch(0.5073 0.1888 27.9632);
  --sidebar-primary-foreground: oklch(0.9779 0.0042 56.3756);
  --sidebar-accent: oklch(0.5600 0.1433 50.6670);
  --sidebar-accent-foreground: oklch(0.9639 0.0590 96.9221);
  --sidebar-border: oklch(0.3741 0.0087 67.5582);
  --sidebar-ring: oklch(0.5073 0.1888 27.9632);
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.15rem;
  --shadow-2xs: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.07);
  --shadow-xs: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.07);
  --shadow-sm: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.13), 1px 1px 2px -3px hsl(1.0345 63.0435% 18.0392% / 0.13);
  --shadow: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.13), 1px 1px 2px -3px hsl(1.0345 63.0435% 18.0392% / 0.13);
  --shadow-md: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.13), 1px 2px 4px -3px hsl(1.0345 63.0435% 18.0392% / 0.13);
  --shadow-lg: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.13), 1px 4px 6px -3px hsl(1.0345 63.0435% 18.0392% / 0.13);
  --shadow-xl: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.13), 1px 8px 10px -3px hsl(1.0345 63.0435% 18.0392% / 0.13);
  --shadow-2xl: 1px 1px 10px -2px hsl(1.0345 63.0435% 18.0392% / 0.33);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}